.footer
  size(100%, px(105))
  &--wrap
    width 100%
    // flex 0 0 auto
    // background lightgreeng
  &__logo
    width 100%
    display flex
    justify-content space-between
    align-items center