.title_h2
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 62px;
	color: #000000;

.title_p
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 130%;
	color: #000000;
	
.text_16
	font-size px(16)

.bold
	font-weight bold

.medium
	font-weight 500